
.byfile__wrapper {
}

.byFile__instructions, .byFile__place {
  padding: 0 28px;
}

.byFile__instructions {
  padding-bottom: 20px;
  padding-top: 20px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 0;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.byFile__text {
  font-size: 1.6rem;
  text-align: center;
}


.byFile__place {
  display: grid;
  place-content: center;
  gap: 10px 0;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #EDEEA5;
  min-height: 77vh;
}

/* .full-choose__file.active {
  background-color: #c8c98a;
  border: 3px dotted var(--color-secondary-dark);
} */

.byFile__title {
  font-size: 1.8rem;
  font-weight: bold;
}

.by__file-img-wrapper {
  display: block;
  width: 20%;
  margin: 20px auto;
}

.by__file-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.input__file {
  display: none;
}


.btn__choose {
  --widthAfter: 0;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 1.4rem;
  font-weight: bold;
  border: 1px solid #000;
  border-radius: 10px;
  cursor: pointer;
  background-color: #EDEEA5;
  color: var(--color-secondary-dark);
  transition: all ease-in-out 250ms;
  position: relative;
  z-index: 2;
  transition: all ease-in-out 250ms;
}

.btn__choose:hover {
  background-color: var(--color-secondary-dark);
  color: var(--color-secondary);
}

.btn__choose:hover path{
  fill: var(--color-secondary);
}


.btn__choose::after {
  content: '';
  display: block;
  position: absolute;
  background: repeating-linear-gradient(
      -55deg,
      #202632,
      #202632 10px,
      #333 10px,
      #333 20px
  );
  top: 0;
  left: 0;
  width: var(--widthAfter);
  height: 100%;
  border-radius: inherit;
  z-index: -1;
  transition: all ease-in-out 250ms;
}

.btn__choose.file__loaded {
  color: var(--color-secondary);
  border: 0;
}

.btn__choose.file__loaded path {
  fill: var(--color-secondary);
}


.choose__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}


.full-choose__file {
  position: absolute;
  inset: 0;
  z-index: 3;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  display: grid;
  place-content: center;
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.full-choose__file.active {
  background-color: #c8c98a;
  border: 3px dotted var(--color-secondary-dark);
  opacity: 1;
}


.footer__wrapper {
  display: grid;
  place-content: center;
  height: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}

@media screen and (min-width: 768px) {

  .byFile__instructions {
    width: 100%;
    padding: 20px 20%;
  }

  .byFile__text {
    font-size: 2rem;
    text-align: center;
  }

  .byFile__title {
    font-size: 2.2rem;
    font-weight: bold;
  }

  .by__file-img-wrapper {
    width: 25%;
    margin: 25px auto;
  }

  .btn__choose {
    font-size: 1.9rem;
  }

  .footer__text {
    font-size: 1.4rem;
  }
}

