

<div class="byfile__wrapper">
  <div class="byFile__instructions" data-aos="fade-right">
    <p class="byFile__text">
      Convert your Json files usign this converter tool. Only you need to upload your file choosing since your file system or drag and dropt your file and download it.
    </p>
  </div>
  <div class="byFile__place" data-aos="fade-left">
    <div class="byFile__info">
      <h3 class="byFile__title">Drag and drop here your Json file:</h3>
      <figure class="by__file-img-wrapper">
        <img class="by__file-image" src="" alt="JSON format image">
      </figure>
    </div>
    <label class="btn-choose__file">
      <div class="full-choose__file"></div>
      <input type="file" id="choose-file" name="files" accept="application/json" aria-label="Choose File" class="input__file" autocomplete="off">
    </label>
    <label for="choose-file" aria-label="Choose File" class="btn__choose">
        Choose File
      <span class="choose__icon">
        <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M18.5714 0H20V14H18.5714V0ZM10.7143 0L9.69286 0.9751L15.1071 6.3H0V7.7H15.1071L9.69286 13.0011L10.7143 14L17.8571 7L10.7143 0Z" fill="#36404E"/>
        </svg>
      </span>
    </label>
  </div>
</div>

<footer class="footer__wrapper">
  <p class="footer__text">Made with 🧡 by Francisco Solis</p>
</footer>
