.content {
  margin-top: 30px;
}

.generate__wrapper {
  width: 90%;
  margin: 0 auto;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}


.generate__place {
  width: 100%;
}

.generate__options {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
}

.generate__label-check {
  display: inline-flex;
  padding-right: 10px;
  white-space: nowrap;
}

.generate__info-options {
  font-size: 1.6rem;
  margin-right: 10px;
  vertical-align: middle;
}

.generate__options-input {
  height: 20px;
  vertical-align: middle;
}

.generate__title {
  font-size: 1.8rem;
  margin-bottom: 10px;
}


.generate__textarea {
  display: block;
  width: 100%;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid var(--color-secondary-dark);
  background-color: rgba(255, 255, 255, 0.85);
  font-family: monospace;
}

.generate__button {
  display: inline-block;
  width: 30%;
  padding: 10px;
  position: relative;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 10px;
  border: 2px solid var(--color-secondary-dark);
  background-color: var(--color-secondary);
  cursor: pointer;
  transition: all ease-in 250ms;
  overflow: hidden;
}

.generate__button > span {
  position: relative;
  z-index: 3;
}

.generate__button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -300px;
  width: 100%;
  height: 300px;
  border-radius: 100% 100% 0 0;
  background-color: var(--color-secondary-dark);
  transition: all ease-in 300ms;
}

.generate__button:hover {
  color: var(--color-secondary);
  border: 0;
}

.generate__button:hover::after {
  bottom: 0;
}


.footer__wrapper {
  display: grid;
  place-content: center;
  height: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}


/* views in raw data y tables */
#csv-textarea.inactive {
  display: none;
}

.generator__table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1.2rem;
  font-family: monospace;
  text-align: center;
  border: 1px solid var(--color-secondary-dark);
  background-color: rgba(255, 255, 255, 0.85);
  overflow: auto;
  transition: all ease-in 250ms;
}

.table__header, .table__row{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.table__header {
  background-color: var(--color-secondary);
}

.table__row:nth-child(even) {
  background-color: #d2eec7;
}


.table__cell {
  padding: 2px;
  word-wrap: break-word;
  border: 1px solid var(--color-secondary-dark);
}

.output {
  height: 100%;
}


@media screen and (min-width: 768px) {

  .content {
    margin-top: 50px;
  }

  .generate__wrapper {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 90% 10%;
    gap: 30px 20px;
    grid-template-areas: "generetor1 generetor2"
                         "btn       btn";
    min-height: 65vh;
    justify-items: center;
  }

  .generate__place:nth-child(1) {
    grid-area: generetor1;
  }

  .generate__place:nth-child(2) {
    grid-area: generetor2;
  }

  .generate__place {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .generate__textarea {
    height: 100%;
    font-size: 1.4rem;
  }

  .generate__button {
    grid-area: btn;
  }

  .footer__text {
    font-size: 1.4rem;
  }
}
