
<div class="generate__wrapper">
  <div class="generate__place">
    <h3 class="generate__title">Type or paste your Json:</h3>
    <textarea class="generate__textarea" id="json-textarea" rows="10" cols="20"></textarea>
  </div>
  <button class="generate__button"> <span>Convert</span> </button>
  <div class="generate__place">
    <h3 class="generate__title">Here is your Csv:</h3>
    <textarea class="generate__textarea" id="csv-textarea" readonly rows="10" cols="20"></textarea>
  </div>
</div>

<footer class="footer__wrapper">
  <p class="footer__text">Made with 🧡 by Francisco Solis</p>
</footer>
