:root {
  --color-primary: #152f4d;
  --color-secondary: #F4E158;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary);
}


.header {
  width: 100%;
}

