:root {
  --color-primary: #72F087;
  --color-secondary: #FFF886;
  --color-secondary-pink: #F072B6;
  --color-secondary-dark: #202632;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Maven Pro';
  src: url('./assets/fonts/MavenPro.woff2') format('woff2'),
       url('./assets/fonts/MavenPro.woff') format('woff')
       url('./assets/fonts/MavenPro.ttf') format('truetype');
  font-display: swap;
}

body {
  font-family: 'Maven Pro', sans-serif;
  background-color: var(--color-primary);
}

#app {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  padding: 20px;
  position: relative;
}
/* styles for header and menu */
.header {
  width: 100%;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0;
}

.menu__button {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.menu__logo {
  width: 100%;
  text-align: center;
  justify-self: center;
}

.menu__list {
  opacity: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: fixed;
  z-index: 1;
  top: 0; bottom: 0;
  right: -100%;
  list-style: none;
  background-color: var(--color-secondary-dark);
  transition: all ease-in-out 600ms;
}

.menu__list.active {
  right: 0;
  left: 0;
  opacity: 1;
}

.menu__item {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 250ms;
}

.menu__item:first-child {
  border-right: var(--color-secondary) 3px dotted;
}

.menu__item > a {
  padding: 10px;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-secondary);
  cursor: pointer;
  transition: all ease-in-out 250ms;
}

.menu__item:hover > a {
  color: var(--color-secondary-dark);
  animation: passed 1.5s linear alternate;
}

@keyframes passed {
  0% {
    border-bottom: 2px solid var(--color-secondary-dark);
  }
  25% {
    border-right: 2px solid var(--color-secondary-dark);
  }
  50% {
    border-top: 2px solid var(--color-secondary-dark);
  }
  75%{
    border-left: 2px solid var(--color-secondary-dark);
  }
  100% {
    transform: rotate(360deg);
  }
}

.menu__item:hover {
  background-color: #FFF886;
}
